.main-wrapper {
  width: 30em;
  margin: 0 auto;
  overflow: hidden;
}
.overflow {
  width: 100%;
  overflow: hidden;
}
.whole-container,
.top-header,
.bottom-header {
  width: 90%;
  margin: 0 auto;
}

.header {
  background-image: url("../img/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.footer {
  height: 400px;
  background-color: #252641;
  text-align: center;
  color: #b2b3cf;
}
.footer-header {
  margin-top: 25px;
  text-align: center;
  padding: 10px;
  display: inline-flex;
}
.orange {
  color: #f48c06;
}
.blue {
  color: #2f327d;
}
.Our-features {
  margin-top: 160px;
  text-align: center;
}
.ui-design ul li {
  display: inline-block;
}
.ui-design-img {
  margin-right: 170px;
  background-image: url(../img/ui-design-img.png);
  background-size: cover;
}
.ui-design {
  margin-bottom: 100px;
}
.tools-img {
  background-size: cover;
  background-image: url(../img/tools-img.png);
}
.quiz-img {
  margin-right: 248px;
  background-image: url(../img/quiz-img.png);
  background-size: cover;
}
.educators-img {
  background-image: url(../img/educators-img.png);
  background-size: cover;
}
.discuss-img {
  margin-right: 190px;
  background-size: cover;
  background-image: url(../img/discuss-img.png);
}
.all-in-one {
  text-align: center;
}
.all-in-one ul li {
  display: inline-block;
}
.Bill-script {
  border-radius: 10%;
  background-color: #ffffff;
  width: 40%;
  margin: 0 auto;
  box-shadow: 1px 1px 10px #888888;
}
/* header*/
.logo {
  float: left;
  background-size: cover;
  background-image: url(../img/Skilline-header.png);
  margin-top: 15px;
  width: 50px;
  height: 27.67px;
}

.header-details {
  float: right;
  width: 40%;
  font-size: 14px;
}
.header-girl {
  background-image: url(../img/header-girl.png);
  width: 892px;
  height: 911px;
  background-size: cover;
}
.rating-img {
  margin-left: 190px;
  display: inline-block;
  background-size: cover;
  background-image: url(../img/girl.png);
  width: 140px;
  height: 175px;
}
.everything-img {
  display: inline-block;
  background-image: url(../img/everything-img.png);
}

@media screen and (min-width: 768px) {
  .main-wrapper {
    width: 100%;
  }
  .header-details {
    float: right;
    width: 40%;
    font-size: 16px;
  }

  .header-girl {
    width: 334.1px;
    height: 341.2px;
  }
  .ui-design-img {
    width: 382.4px;
    height: 263.2px;
  }
  .tools-img {
    width: 271.6px;
    height: 244.4px;
  }
  .quiz-img {
    width: 268px;
    height: 289.5px;
  }
  .educators-img {
    width: 352.4px;
    height: 249.6px;
  }
  .discuss-img {
    width: 304.4px;
    height: 226px;
  }
  .rating-img {
    width: 224px;
    height: 280px;
  }
  .everything-img {
    width: 298px;
    height: 204.8px;
  }
}
@media screen and (min-width: 992px) {
  .main-wrapper {
    width: 100%;
  }
  .whole-container,
  .top-header,
  .bottom-header {
    width: 93%;
    margin: 0 auto;
  }
  .logo {
    width: 100px;
    height: 55px;
  }
  .header-girl {
    width: 464.59px;
    height: 474.48px;
  }
  .header-details {
    float: right;
    width: 50%;
    font-size: 18px;
  }
  .ui-design-img {
    width: 492.8px;
    height: 339.18px;
  }
  .tools-img {
    width: 350px;
    height: 314.95px;
  }
  .quiz-img {
    width: 345.35px;
    height: 373.2px;
  }
  .educators-img {
    width: 454.12px;
    height: 321.65px;
  }
  .discuss-img {
    width: 392.27px;
    height: 291.24px;
  }
  .rating-img {
    width: 288.66px;
    height: 360.82px;
  }
  .everything-img {
    width: 384.02px;
    height: 263.91px;
  }
}

@media screen and (min-width: 1200px) {
  .main-wrapper {
    width: 100%;
  }
  .header-details {
    float: right;
    width: 50%;
    font-size: 20px;
  }

  .header-details-list ul li {
    display: inline-block;
    color: #252641;
  }
  .header-girl {
    width: 557.5px;
    height: 569.4px;
  }
  .whole-container,
  .top-header,
  .bottom-header {
    width: 95%;
    margin: 0 auto;
  }
  .logo {
    width: 100px;
    height: 55px;
  }
  .ui-design-img {
    width: 597.5px;
    height: 411.25px;
  }
  .tools-img {
    width: 424.38px;
    height: 381.88px;
  }
  .quiz-img {
    width: 418.75px;
    height: 452.5px;
  }
  .educators-img {
    width: 550.62px;
    height: 390px;
  }
  .discuss-img {
    width: 475.63px;
    height: 353.13px;
  }
  .rating-img {
    width: 350px;
    height: 437.5px;
  }
  .everything-img {
    width: 465.63px;
    height: 320px;
  }
}

@media screen and (min-width: 1920px) {
  .whole-container,
  .top-header,
  .bottom-header {
    width: 98%;
    margin: 0 auto;
  }
  .main-wrapper {
    width: 100%;
  }
  .header-girl {
    width: 892px;
    height: 911px;
  }
  .Bill-script {
    width: 450px;
    height: 430px;
  }

  .bottom-header ul li {
    display: inline-block;
  }
  .logo {
    float: left;
    background-size: cover;
    width: 150px;
    height: 83px;
    margin-top: 60px;
  }
  .header-details {
    float: right;
    width: 60%;
    font-size: 22px;
  }
  .header-details-list {
    padding: 35px 0;
    float: left;
  }
  .header-details-list ul {
    list-style: none;
  }
  .header-details-list ul li {
    display: inline-block;
    color: #252641;
  }
  .nav {
    margin-left: 82px;
  }
  .nav2 {
    margin-left: 80px;
    float: left;
  }
  .nav3 {
    margin-left: 34px;
    float: left;
  }
  .ui-design-img {
    width: 956px;
    height: 658px;
  }
  .educators-img {
    width: 881px;
    height: 629px;
  }
  .navigation {
    padding-top: 35px;
    float: right;
  }
  .bottom-header {
    display: inline-block;
    text-align: center;
  }

  .companies {
    width: 90%;
    margin: 0 auto;
  }
  .companies ul li {
    display: inline-block;
    list-style: none;
    text-align: center;
    margin-left: 76px;
  }
  .company-script {
    text-align: center;
    padding: 56px;
  }
  .all-in-one {
    margin-top: 160px;
    margin-bottom: 158px;
  }

  .instructions-img {
    background-image: url(../img/instructions.img.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 173px 0;
  }
  .instructions-img div {
    width: 80%;
    text-align: center;
  }
  .students-img {
    background-image: url(../img/students-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 173px 0;
  }
  .students-img div {
    width: 80%;

    text-align: center;
  }
  .everything {
    width: 100%;
    text-align: center;
  }
  .everything ul li {
    display: inline-block;
    text-align: initial;
  }
  .everything-script {
    margin-right: 86px;
    position: relative;
    bottom: 144px;
  }
  .everything-script h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 57.6px;
  }
  .everything-script p {
    font-weight: 400;
    font-size: 24px;
    line-height: 43.2px;
  }
  .everything-img {
    width: 745px;
    height: 512px;
  }

  .tools ul li {
    display: inline-block;
    text-align: initial;
  }
  .tools-img {
    width: 679px;
    height: 611px;
  }
  .tools-script {
    margin-right: 236px;
    position: relative;
    bottom: 144px;
  }
  .quiz ul li {
    display: inline-block;
    text-align: initial;
  }
  .quiz-script {
    position: relative;
    bottom: 315px;
  }
  .quiz-img {
    width: 670px;
    height: 724px;
  }
  .educators ul li {
    display: inline-block;
    text-align: initial;
  }
  .educators-script {
    margin-right: 118px;
    position: relative;
    bottom: 144px;
  }
  .discuss ul li {
    display: inline-block;
    text-align: initial;
  }
  .discuss-script {
    position: relative;
    bottom: 144px;
  }
  .discuss-img {
    width: 761px;
    height: 565px;
  }

  .Our-features {
    margin-bottom: 160px;
  }
  .platform ul li {
    display: inline-block;
    text-align: initial;
  }
  .platform {
    text-align: center;
    margin-bottom: 150px;
  }
  .platform-icons {
    margin-right: 292px;
  }
  .rating {
    text-align: center;
  }
  .rating-img {
    width: 560px;
    height: 700px;
  }
  .rating ul li {
    display: inline-block;
    text-align: initial;
  }
  .rating-script {
    position: relative;
    bottom: 144px;
  }
  .news {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
  }
  .news h5 {
    font-size: 26px;
    font-weight: 500;
    color: #252641;
    margin-bottom: 10px;
  }
  .news p {
    font-size: 20px;
    font-weight: 400;
    color: #696984;
  }
  .news-button {
    width: 130px;
    height: 40px;
    background: #f48c06;
    border-radius: 50px 50px 50px 50px;
    border-color: transparent;
    margin: 40px 0;
  }
  .news ul {
    margin-top: 20px;
  }
  .news-left {
    margin-right: 60px;
    text-align: initial;
  }
  .news-right {
    margin-left: 60px;
  }
  .news ul li {
    display: inline-block;
  }
  .news-right ul li {
    display: block;
  }
  .million-news ul li {
    display: block;
  }
  .demand-news ul li {
    display: inline-block;
  }
  .school-news ul li {
    display: inline-block;
  }
  .ceo-news ul li {
    display: inline-block;
  }

  .footer {
    height: 550px;
    background-color: #252641;
    text-align: center;
    color: #b2b3cf;
  }
  .footer-header {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    display: inline-flex;
  }
}
